.menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 100%;
}

.menu .menu__background {
  color: black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
  align-content: space-evenly;
  justify-self: center;
  background-color: #464646;
  width: 100%;
  margin-top: 3%;
}

.menu .menu__background .setting__players {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
  width: 100%;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.3rem;
  color: #dedede;
}

.menu .menu__background .setting__players .setting__players--text {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  color: #DEDEDE;
}

.menu .menu__background .setting__players .setting__players--box {
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: stretch;
  align-content: space-evenly;
  justify-items: stretch;
  width: 90%;
  padding: 0.2rem;
  box-sizing: border-box;
}

.menu .menu__background .setting__players .setting__players--box .setting__players--text {
  display: grid;
  justify-items: center;
  margin: 1rem;
  font-size: 1.15rem;
  text-align: center;
  font-weight: 500;
  color: #DEDEDE;
}

.menu .menu__background .setting__players .setting__players--box .setting__players--players {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 1rem;
  font-size: 1rem;
}

@media screen and (max-width: 500px) {
  .menu .menu__background .setting__players .setting__players--box .setting__players--players {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.menu .menu__background .setting__players .setting__players--box .setting__players--players .players--one_player {
  display: grid;
  justify-items: center;
  text-align: center;
  grid-row-gap: 0.5rem;
  color: #FA6009;
  margin-top: 0.3rem;
}

.menu .menu__background .setting__players .setting__players--box .setting__players--players .players--one_player div {
  font-size: 0.7rem;
  font-weight: 400;
  justify-self: left;
}

.menu .menu__background .setting__players .setting__players--box .setting__players--players .players--one_player input {
  display: flex;
  width: 100%;
  opacity: 1;
  background-color: white;
  color: #FFFFFF;
  background: #333030;
  border: 2px solid #FA6009;
  opacity: 0.8;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 4px;
  padding: 0.3rem;
  box-sizing: border-box;
}

.menu .menu__background .setting__players .setting__players--form_checkbox {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  width: 90%;
  color: rgba(238, 238, 238, 0.87);
}

.menu .menu__background .setting__players .setting__players--form_checkbox .checkbox {
  display: block;
  position: relative;
  padding-left: 2rem;
  margin: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu .menu__background .setting__players .setting__players--form_checkbox .checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.menu .menu__background .setting__players .setting__players--form_checkbox .checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1rem;
  width: 1rem;
  background-color: #464646;
  border-radius: 1rem;
  border: solid 0.1rem rgba(250, 96, 9, 0.54);
}

.menu .menu__background .setting__players .setting__players--form_checkbox .checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 0.05rem;
  top: 0.05rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 1rem;
  border: 0.2rem solid #464646;
}

.menu .menu__background .setting__players .setting__players--form_checkbox .checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

.menu .menu__background .setting__players .setting__players--form_checkbox .checkbox input:checked ~ .checkmark {
  background-color: #f50057;
}

.menu .menu__background .setting__players .setting__players--form_checkbox .checkbox input:checked ~ .checkmark:after {
  display: block;
}

.menu .menu__background .setting__box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 100%;
  align-content: space-evenly;
  grid-gap: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 3rem;
  color: #dedede;
  padding: 1rem;
  box-sizing: border-box;
}

.menu .menu__background .setting__box .setting--tame {
  font-size: 1.1rem;
  font-weight: 500;
  color: #CACACA;
  box-sizing: border-box;
  margin-left: 1rem;
  justify-self: left;
}

.menu .menu__background .setting__box .setting--tame span {
  font-size: 0.6rem;
  padding-left: 0.5rem;
  font-weight: 500;
  color: #cacaca80;
}

.menu .menu__background .setting__box .setting--game .setting__game--text {
  font-weight: 600;
  font-size: 1.3rem;
  color: #CACACA;
  width: 100%;
  text-align: center;
}

.menu .menu__background .setting__box .setting--slider {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 3rem;
}

.menu .menu__background .setting__box .setting--slider .slider__range {
  -webkit-appearance: none;
  height: 0.2rem;
  width: 100%;
  background: #FA6009;
  opacity: 0.38;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.menu .menu__background .setting__box .setting--slider .slider__range:hover {
  opacity: 1;
}

.menu .menu__background .setting__box .setting--slider .slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2rem;
  height: 2rem;
  background: #FA6009;
  border-radius: 16px 16px 0px 16px;
  transform: rotate(45deg);
  position: relative;
  top: -2rem;
}

.menu .menu__background .setting__box .setting--slider .slider__range::-moz-range-thumb {
  width: 2rem;
  height: 2rem;
  background: #FA6009;
  border-radius: 16px 16px 0px 16px;
  transform: rotate(45deg);
  position: relative;
  top: -2rem;
}

.menu .menu__background .setting__box .setting--slider output {
  text-align: center;
  font-size: 1rem;
}

.menu .menu__button {
  display: flex;
  justify-self: center;
  padding-bottom: 1rem;
  box-sizing: border-box;
  width: 70%;
}

.menu .menu__button .menu__button--start {
  font-size: 1.2rem;
  color: white;
  background: #FA6009;
  box-shadow: 0px 2px 15px #FF6E00;
  border-radius: 5px;
  font-weight: 500;
  padding: 1rem;
  width: 100%;
  position: relative;
  top: -2rem;
}

.menu .menu__button .menu__button--start:hover {
  background-color: #333030;
  color: #FA6009;
  border: 0.2rem black solid;
}
