@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,900&display=swap");
.chessboard {
  width: 75vh;
  height: 75vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 0px 0px;
  grid-template-areas: "........" "........" "........" "........" "........" "........" "........" "........";
  background-image: url(/board1.7de065a2.png);
  background-size: cover;
}
.chessboard__field {
  border: 1px red solid;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
.chessboard__field--selected {
  background: rgba(245, 229, 0, 0.65);
}
.chessboard__field--possible_move {
  background: rgba(0, 245, 16, 0.65);
}
.chessboard__field--possible_attack {
  background: rgba(245, 7, 7, 0.65);
}

.chessboard__figure {
  max-width: 90%;
  max-height: 90%;
}

.chessboard__figure_select {
  max-width: 10%;
  max-height: 10%;
}

@media (max-width: 500px) {
  .chessboard {
    width: 50vh;
    height: 50vh;
  }
}
.container {
  max-height: 100vh;
}

.game__panel {
  display: grid;
  justify-items: center;
  justify-self: center;
}
@media screen and (max-width: 650px) {
  .game__panel {
    width: 90%;
  }
}

.stage {
  background-color: #888;
  width: 75vh;
  height: 10vh;
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.stage:first-child {
  background-color: #464646;
  color: #C4C4C4;
}

.stage:nth-child(3) {
  background-color: #C4C4C4;
  color: #464646;
}

.player__name {
  height: 30%;
  padding: 2px;
  padding-left: 5px;
  font-weight: bold;
}

.figures__list {
  height: 70%;
  display: flex;
  max-width: 100%;
  justify-content: start;
  align-items: flex-end;
}

.chessboard__figure__stage {
  height: 100%;
  max-width: 5%;
  color: red;
  filter: invert(0.5);
}

.game__stage {
  justify-self: end;
  width: 90%;
}

.time {
  min-width: 30%;
  align-self: center;
  font-weight: bold;
  padding-right: 5px;
}

.selection__promo {
  background-color: #FFF;
  min-width: 15%;
  min-height: 15%;
  align-self: center;
  font-weight: bold;
  padding-right: 5px;
}

@media (max-width: 500px) {
  .stage {
    width: 90%;
  }
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}

.settings__panel {
  min-width: 30%;
  max-width: 30%;
  background-color: #464646;
  height: 98%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 5px;
  max-height: 100%;
  position: relative;
}

ul {
  list-style: none;
  padding: 0;
  min-height: 50px;
  margin-top: 0;
}
ul li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #555;
  min-height: 70px;
  flex-wrap: wrap;
}
ul li :hover {
  cursor: pointer;
}
ul li img {
  width: 15%;
  padding-top: 10px;
  justify-self: center;
}
ul li a {
  display: block;
  width: 100%;
  text-justify: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #C1C1C1;
  padding: 10px;
  text-justify: center;
}

.clicked {
  background-color: #464646;
}

.nav .active a {
  color: #C1C1C1;
}

.active {
  background-color: #464646;
  height: 50px;
}

.nav__tab {
  margin-bottom: 0;
  width: 100%;
}

.tab__pane {
  display: none;
}

.tab__pane.active {
  display: block;
}

.tab__container {
  width: 100%;
  max-width: 100%;
}

.tab__content {
  width: 100%;
  max-width: 100%;
}

.info {
  max-width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 5%;
  box-sizing: border-box;
}
.info:nth-of-type(odd) {
  background-color: #555;
}

.revert__button {
  background-color: #FFF;
  color: #FA6009;
  width: 50%;
  padding: 2px;
  box-shadow: 0px 2px 15px #FF6E00;
  border-radius: 5px;
  font-weight: 500;
  font-size: 20px;
  self-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.revert__button:hover {
  background-color: #FA6009;
  color: #FFF;
}

.undo__button__container {
  min-width: 340px;
  width: 100%;
  position: absolute;
  bottom: 25px;
  display: flex;
  justify-content: center;
}

@media (max-width: 800px) {
  .info {
    min-height: 70px;
  }

  .settings__panel {
    min-width: 90%;
  }
}
.buttonBox {
  width: 100%;
  height: 100rem;
  background-color: #2F2F2F;
  opacity: 0.9;
  position: absolute;
}
.buttonBox .buttonBox__reset {
  background-color: #2F2F2F;
  width: 100%;
  height: 100%;
  position: absolute;
}

.buttonBox__text {
  width: 50%;
  position: fixed;
  top: 25%;
  left: 25%;
  color: white;
  background-color: #FA6009;
  border: 0.2rem black solid;
  font-size: 2rem;
  box-shadow: 0px 2px 15px #FF6E00;
  border-radius: 5px;
  font-weight: 500;
  padding: 1.2rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  text-align: center;
  justify-items: center;
  box-sizing: border-box;
}
@media screen and (max-width: 500px) {
  .buttonBox__text {
    left: 15%;
    width: 70%;
  }
}
.buttonBox__text .buttonBox__text--reset {
  width: 10rem;
  background: #333030;
  color: #FA6009;
  border: 0.2rem black solid;
  border-radius: 5px;
  font-weight: 400;
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .buttonBox__text .buttonBox__text--reset {
    padding: 0.3rem;
    height: 3rem;
    margin-top: 1.5rem;
  }
}
.buttonBox__text .buttonBox__text--reset:hover {
  background-color: #fff;
  color: #fa6009;
}

html {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
html body {
  background-color: #2F2F2F;
  color: #FFF;
  font-size: 1rem;
  margin: 0;
}
html body #root {
  display: grid;
  justify-items: stretch;
}
html body #root .menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 100%;
}
html body #root .menu .menu__background {
  color: black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
  align-content: space-evenly;
  justify-self: center;
  background-color: #464646;
  width: 100%;
  margin-top: 3%;
}
html body #root .menu .menu__background .setting__players {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
  width: 100%;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.3rem;
  color: #dedede;
}
html body #root .menu .menu__background .setting__players .setting__players--text {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  color: #DEDEDE;
}
html body #root .menu .menu__background .setting__players .setting__players--box {
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: stretch;
  align-content: space-evenly;
  justify-items: stretch;
  width: 90%;
  padding: 0.2rem;
  box-sizing: border-box;
}
html body #root .menu .menu__background .setting__players .setting__players--box .setting__players--text {
  display: grid;
  justify-items: center;
  margin: 1rem;
  font-size: 1.15rem;
  text-align: center;
  font-weight: 500;
  color: #DEDEDE;
}
html body #root .menu .menu__background .setting__players .setting__players--box .setting__players--players {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 1rem;
  font-size: 1rem;
}
@media screen and (max-width: 500px) {
  html body #root .menu .menu__background .setting__players .setting__players--box .setting__players--players {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
html body #root .menu .menu__background .setting__players .setting__players--box .setting__players--players .players--one_player {
  display: grid;
  justify-items: center;
  text-align: center;
  grid-row-gap: 0.5rem;
  color: #FA6009;
  margin-top: 0.3rem;
}
html body #root .menu .menu__background .setting__players .setting__players--box .setting__players--players .players--one_player div {
  font-size: 0.7rem;
  font-weight: 400;
  justify-self: left;
}
html body #root .menu .menu__background .setting__players .setting__players--box .setting__players--players .players--one_player input {
  display: flex;
  width: 100%;
  opacity: 1;
  background-color: white;
  color: #FFFFFF;
  background: #333030;
  border: 2px solid #FA6009;
  opacity: 0.8;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 4px;
  padding: 0.3rem;
  box-sizing: border-box;
}
html body #root .menu .menu__background .setting__players .setting__players--form_checkbox {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  width: 90%;
  color: rgba(238, 238, 238, 0.87);
}
html body #root .menu .menu__background .setting__players .setting__players--form_checkbox .checkbox {
  display: block;
  position: relative;
  padding-left: 2rem;
  margin: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html body #root .menu .menu__background .setting__players .setting__players--form_checkbox .checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
html body #root .menu .menu__background .setting__players .setting__players--form_checkbox .checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1rem;
  width: 1rem;
  background-color: #464646;
  border-radius: 1rem;
  border: solid 0.1rem rgba(250, 96, 9, 0.54);
}
html body #root .menu .menu__background .setting__players .setting__players--form_checkbox .checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 0.05rem;
  top: 0.05rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 1rem;
  border: 0.2rem solid #464646;
}
html body #root .menu .menu__background .setting__players .setting__players--form_checkbox .checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}
html body #root .menu .menu__background .setting__players .setting__players--form_checkbox .checkbox input:checked ~ .checkmark {
  background-color: #f50057;
}
html body #root .menu .menu__background .setting__players .setting__players--form_checkbox .checkbox input:checked ~ .checkmark:after {
  display: block;
}
html body #root .menu .menu__background .setting__box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 100%;
  align-content: space-evenly;
  grid-gap: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 3rem;
  color: #dedede;
  padding: 1rem;
  box-sizing: border-box;
}
html body #root .menu .menu__background .setting__box .setting--tame {
  font-size: 1.1rem;
  font-weight: 500;
  color: #CACACA;
  box-sizing: border-box;
  margin-left: 1rem;
  justify-self: left;
}
html body #root .menu .menu__background .setting__box .setting--tame span {
  font-size: 0.6rem;
  padding-left: 0.5rem;
  font-weight: 500;
  color: #cacaca80;
}
html body #root .menu .menu__background .setting__box .setting--game .setting__game--text {
  font-weight: 600;
  font-size: 1.3rem;
  color: #CACACA;
  width: 100%;
  text-align: center;
}
html body #root .menu .menu__background .setting__box .setting--slider {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 3rem;
}
html body #root .menu .menu__background .setting__box .setting--slider .slider__range {
  -webkit-appearance: none;
  height: 0.2rem;
  width: 100%;
  background: #FA6009;
  opacity: 0.38;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
html body #root .menu .menu__background .setting__box .setting--slider .slider__range:hover {
  opacity: 1;
}
html body #root .menu .menu__background .setting__box .setting--slider .slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2rem;
  height: 2rem;
  background: #FA6009;
  border-radius: 16px 16px 0px 16px;
  transform: rotate(45deg);
  position: relative;
  top: -2rem;
}
html body #root .menu .menu__background .setting__box .setting--slider .slider__range::-moz-range-thumb {
  width: 2rem;
  height: 2rem;
  background: #FA6009;
  border-radius: 16px 16px 0px 16px;
  transform: rotate(45deg);
  position: relative;
  top: -2rem;
}
html body #root .menu .menu__background .setting__box .setting--slider output {
  text-align: center;
  font-size: 1rem;
}
html body #root .menu .menu__button {
  display: flex;
  justify-self: center;
  padding-bottom: 1rem;
  box-sizing: border-box;
  width: 70%;
}
html body #root .menu .menu__button .menu__button--start {
  font-size: 1.2rem;
  color: white;
  background: #FA6009;
  box-shadow: 0px 2px 15px #FF6E00;
  border-radius: 5px;
  font-weight: 500;
  padding: 1rem;
  width: 100%;
  position: relative;
  top: -2rem;
}
html body #root .menu .menu__button .menu__button--start:hover {
  background-color: #333030;
  color: #FA6009;
  border: 0.2rem black solid;
}
html body #root .buttonBox {
  width: 100%;
  height: 100rem;
  background-color: #2F2F2F;
  opacity: 0.9;
  position: absolute;
}
html body #root .buttonBox .buttonBox__reset {
  background-color: #2F2F2F;
  width: 100%;
  height: 100%;
  position: absolute;
}
html body #root .buttonBox__text {
  width: 50%;
  position: fixed;
  top: 25%;
  left: 25%;
  color: white;
  background-color: #FA6009;
  border: 0.2rem black solid;
  font-size: 2rem;
  box-shadow: 0px 2px 15px #FF6E00;
  border-radius: 5px;
  font-weight: 500;
  padding: 1.2rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  text-align: center;
  justify-items: center;
  box-sizing: border-box;
}
@media screen and (max-width: 500px) {
  html body #root .buttonBox__text {
    left: 15%;
    width: 70%;
  }
}
html body #root .buttonBox__text .buttonBox__text--reset {
  width: 10rem;
  background: #333030;
  color: #FA6009;
  border: 0.2rem black solid;
  border-radius: 5px;
  font-weight: 400;
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
}
@media screen and (max-width: 500px) {
  html body #root .buttonBox__text .buttonBox__text--reset {
    padding: 0.3rem;
    height: 3rem;
    margin-top: 1.5rem;
  }
}
html body #root .buttonBox__text .buttonBox__text--reset:hover {
  background-color: #fff;
  color: #fa6009;
}

/*# sourceMappingURL=/main.22a94128.css.map */