.chessboard
    width: 90vh
    height: 90vh

    display: grid
    grid-template-columns: repeat(8, 1fr)
    grid-template-rows: repeat(8, 1fr)
    gap: 0px 0px
    grid-template-areas: "........" "........" "........" "........" "........" "........" "........" "........"

    background-image: url(../static/assets/boards/board1.png)
    background-size: cover

.chessboard__field
    border: 1px red solid
    max-width: 100%
    max-height: 100%

    display: flex
    align-items: center
    justify-items: center
    justify-content: center

// .chessboard__field--white

// .chessboard__field--black

.chessboard__figure
    max-width: 90%
    max-height: 90%